<div>
  <ul class = "button1">
    <%= sentence.text %>
      <ul class = "button2">
        <%= link_to 'SHOW', "sentences/#{sentence.id}/",class: "button3", method: :get %>
      <% if user_signed_in? && current_user.id == sentence.user_id %>
        <%= link_to 'EDIT', "sentences/#{sentence.id}/edit",class: "button3", method: :get %>
        <%= link_to 'DESTROY', "sentences/#{sentence.id}",class: "button3", method: :delete, data: { confirm: '削除しますか？'} %>
      </ul>
    <% end %>
  </ul>
</div>



  
<!--< simple_format(tweet.text) %>
  <span class="name">
      <a href="">
        <span>投稿者</span>< tweet.user.nickname %>
      </a>
    </span>
</div> -->