<div class = "content3">
  <%= form_tag("/sentences/#{@sentences.id}", method: :patch) do %>
    <h2>
      EDIT
    </h2>
    <textarea class = "content4", name="text" placeholder="text" rows="10" cols="30"><%= @sentences.text %></textarea>
    <div class = "submit">
    <input class = "submit2", type="submit" value="SEND">
    </div>
  <% end %>
</div>