<div class = "content3">
  <div class = "content5">
  <%= form_tag('/sentences', method: :post) do %>
  <textarea class = "content4", name="text" placeholder="本文を入力してください。" rows="10" cols="30"></textarea>
  <div class ="submit">
  <input class = "submit2" type="submit" value="SENT">
  </div>
  <% end %>
  </div>
</div>
