<div>
  <div>
  <%= form_tag('/sentences', method: :post) do %>
  <textarea name="text" placeholder="本文を入力してください。" rows="10" cols="30"></textarea>
  <input type="submit" value="SENT">
  <% end %>
  </div>
</div>
